<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="page-header">
  <h1><%=t('.title', name: @disappeared.name)%></h1>
</div>

<div class="pull-right">
  <%= link_to t('.disappeared'), relative_disappeared_path(@relative, @disappeared), :class => "btn btn-default" %>
  <%= link_to t('.new_disappearance'), new_relative_disappeared_disappearance_path,:class => "btn btn-default"  %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th> <%=t('.date')%></th>
      <th> <%=t('.hour')%></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @disappearances.each do |disappearance| %>
      <tr>
        <td><%= disappearance.date %></td>
        <td><%= disappearance.hour %></td>
        <td><%= link_to t('.show'), [@relative,@disappeared, disappearance]  %></td>
        <td><%= link_to t('.edit'), edit_relative_disappeared_disappearance_path(@relative, @disappeared, disappearance) %></td>
        <td><%= link_to t('.destroy'), [@relative,@disappeared, disappearance], method: :delete, data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  <td class="text-center" colspan="16"> <%=  paginate @disappearances%></td>
  <br>
  </tfoot>
</table>

<br>


