<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong><%=t('.date')%>:</strong>
  <%= @disappearance.date %>
</p>

<p>
  <strong><%=t('.hour')%>:</strong>
  <%= @disappearance.hour %>
</p>

<p>
  <strong><%=t('.number_police_report')%>:</strong>
  <%= @disappearance.number_police_report %>
</p>

<p>
  <strong><%=t('.police_stationt')%>:</strong>
  <%= @disappearance.police_station %>
</p>

<p>
  <strong><%=t('.disappearance_history')%>:</strong>
  <%= @disappearance.disappearance_history %>
</p>

<p>
  <strong><%=t('.disappeareds')%>:</strong>
<p> <%= link_to  @disappeared.name, relative_disappeared_path(@relative, @disappeared)%></p>

</p>


<%= link_to t('.edit'), edit_relative_disappeared_disappearance_path(@relative, @disappeared), :class => "btn btn-primary" %>
<%= link_to t('.back'), relative_disappeared_disappearances_path(@disappeared), :class => "btn btn-primary" %>
