<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="page-header">
  <h1><%=t('.title', relative_name:@relative.relative_name)%></h1>
</div>
<div class="pull-right">
  <%= link_to t('.relative_disappeared'), relative_path(@relative), :class => "btn btn-default" %>
  <%= link_to t('.new_disappeared'), new_relative_disappeared_path, :class => "btn btn-primary" %>

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t('.name')%></th>
      <th><%=t('.gender')%></th>
      <th><%=t('.address')%></th>
      <th><%=t('.telephone')%></th>
      <th><%=t('.cell_phone')%></th>
      <th><%=t('.notification_face')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disappeareds.each do |disappeared| %>
      <tr>
        <td><%= disappeared.name %></td>
        <td><%= disappeared.gender_human %></td>
        <td><%= disappeared.address %></td>
        <td><%= disappeared.telephone %></td>
        <td><%= disappeared.cell_phone %></td>
        <td><%= disappeared.notification_face ? "Sim":"Não"   %></td>
        <td><%= link_to t('.show'), [@relative,disappeared] %></td>
        <td><%= link_to t('.edit'), edit_relative_disappeared_path(@relative, disappeared) %></td>
        <td><%= link_to t('.destroy'),  [@relative,disappeared], method: :delete, data: { confirm: t('.confirm') } %></td>
        <td><%= link_to t('.new_disappearance'),  new_relative_disappeared_disappearance_path(@relative,disappeared ) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  <td class="text-center" colspan="16"> <%=  paginate @disappeareds %></td>
  <br>
  </tfoot>
</table>


